<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <!-- @formatter:off -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %cyan([%thread]) %logger{16} %yellow(-%kvp-) %msg%n
            </pattern>
        </encoder>
        <!-- @formatter:on -->
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

